<p id="notice"><%= notice %></p>

<h1 class="white">Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th class="white">Name</th>
      <th class="white">Address</th>
      <th class="white">City</th>
      <th class="white">State</th>
      <th class="white">Zip</th>
      <th class="white">Category</th>
      <th class="white">User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td class="white"><%= restaurant.name %></td>
        <td class="white"><%= restaurant.address %></td>
        <td class="white"><%= restaurant.city %></td>
        <td class="white"><%= restaurant.state %></td>
        <td class="white"><%= restaurant.zip %></td>
        <td class="white"><%= restaurant.category_id %></td>
        <td class="white"><%= restaurant.user_id %></td>
        <td><%= link_to 'Show', restaurant, class: 'white' %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'white' %></td>
        <td><%= link_to 'Destroy', restaurant, class: 'white', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class: 'white' %>
