<p id="notice"><%= notice %></p>

<p class="white">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p class="white">
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p class="white">
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p class="white">
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p class="white">
  <strong>Zip:</strong>
  <%= @restaurant.zip %>
</p>

<p class="white">
  <strong>Category:</strong>
  <%= @restaurant.category_id %>
</p>

<p class="white">
  <strong>User:</strong>
  <%= @restaurant.user_id %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'white' %> |
<%= link_to 'Back', restaurants_path, class: 'white' %>
